{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-md-3">
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ path('posts_show', {'id': post.id}) }}" class="btn-link">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <section>
                <h3 class="text-center">
                    <a href="{{ path('posts_show', {'id': post.id}) }}" class="btn-link">
                        {{ post.title }}
                    </a>
                </h3>
                <div class="text-center">
                    <img src="{{ asset('uploads/posts/') }}{{ post.image }}" style="width: 100px" alt="">
                </div>

                <i>
                    {{ post.user }}
                    /
                    {{ post.createdAt|date("d/m/Y") }}</i>

                <p>
                    {{ post.content }}
                </p>
            </section>
        </div>
    </div>

{% endblock %}
